.projects-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center the entire column vertically */
  align-items: center; /* Align items horizontally in the center */
  gap: 20px; /* Space between project boxes */
  margin: 0 auto;
  max-width: 1200px; /* Matches max-width of other components */
  padding: 20px;
}

.project-box {
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Ensure boxes take full width */
  max-width: 600px; /* Limit the width of each project box */
  text-align: left; /* Left-align the content inside each box */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .project-box {
    width: 100%; /* Ensure boxes take full width on small screens */
    max-width: 100%; /* Remove max-width constraint for mobile */
  }
}

.project-title {
  font-size: 24px;
  margin-bottom: 8px;
  color: #333;
}

.tech-label {
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content .description {
  margin: 10px 0;
}

.modal-content .logos-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.modal-content .logo {
  width: 40px;
  height: auto;
  transition: transform 0.3s;
}

.modal-content .logo:hover {
  transform: scale(1.1);
}
